## Preliminary Data Check and Cleaning

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
import matplotlib.pyplot as plt
from pandasql import sqldf
import sqlite3 
import datetime as dt

In [2]:
con = sqlite3.connect('/Users/julianbombard/Desktop/Data Analytics Course/Capstone/database/ATP_Tour')
df = pd.read_sql_query('''Select *
                       From Matches''', con)

con.close()

df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2015-339,Brisbane,Hard,28,A,"20,150,104",1,105357,,WC,...,31,20,5,8,1,5,153,328,220,221
1,2015-339,Brisbane,Hard,28,A,"20,150,104",2,103813,,,...,50,26,19,13,3,8,73,689,123,440
2,2015-339,Brisbane,Hard,28,A,"20,150,104",3,105902,,WC,...,37,22,5,8,10,15,125,430,21,1730
3,2015-339,Brisbane,Hard,28,A,"20,150,104",4,104871,,,...,38,30,8,10,1,3,31,1195,72,691
4,2015-339,Brisbane,Hard,28,A,"20,150,104",5,105373,,,...,62,40,19,15,4,8,34,1094,110,505

In [3]:
from Data_Quality import data_check, render_markdown

In [4]:
data_check(df)

### First Five Rows

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2015-339,Brisbane,Hard,28,A,"20,150,104",1,105357,,WC,...,31,20,5,8,1,5,153,328,220,221
1,2015-339,Brisbane,Hard,28,A,"20,150,104",2,103813,,,...,50,26,19,13,3,8,73,689,123,440
2,2015-339,Brisbane,Hard,28,A,"20,150,104",3,105902,,WC,...,37,22,5,8,10,15,125,430,21,1730
3,2015-339,Brisbane,Hard,28,A,"20,150,104",4,104871,,,...,38,30,8,10,1,3,31,1195,72,691
4,2015-339,Brisbane,Hard,28,A,"20,150,104",5,105373,,,...,62,40,19,15,4,8,34,1094,110,505

### Last Five Rows

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
27667,2024-M-DC-2024-WG2-PO-URU-MDA-01,Davis Cup WG2 PO: URU vs MDA,Clay,4,D,"20,240,203",5,212051,,,...,30,17,7,6,8,14,1109,8,740,34
27668,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,"20,240,202",1,122533,,,...,41,25,6,9,1,4,554,67,748,32
27669,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,"20,240,202",2,144748,,,...,51,25,7,11,5,12,416,109,,
27670,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,"20,240,202",4,122533,,,...,51,32,17,14,5,9,554,67,416,109
27671,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,"20,240,202",5,202475,,,...,53,25,8,8,9,14,748,32,,

### Shape of Data

(27672, 49)

### Types of Data

tourney_id            object
tourney_name          object
surface               object
draw_size              int64
tourney_level         object
tourney_date          object
match_num              int64
winner_id              int64
winner_seed           object
winner_entry          object
winner_name           object
winner_hand           object
winner_ht             object
winner_ioc            object
winner_age            object
loser_id               int64
loser_seed            object
loser_entry           object
loser_name            object
loser_hand            object
loser_ht              object
loser_ioc             object
loser_age             object
score                 object
best_of                int64
round                 object
minutes               object
w_ace                 object
w_df                  object
w_svpt                object
w_1stIn               object
w_1stWon              object
w_2ndWon              object
w_SvGms               object
w_bpSaved             object
w_bpFaced             object
l_ace                 object
l_df                  object
l_svpt                object
l_1stIn               object
l_1stWon              object
l_2ndWon              object
l_SvGms               object
l_bpSaved             object
l_bpFaced             object
winner_rank           object
winner_rank_points    object
loser_rank            object
loser_rank_points     object
dtype: object

### Data Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27672 entries, 0 to 27671
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          27672 non-null  object
 1   tourney_name        27672 non-null  object
 2   surface             27672 non-null  object
 3   draw_size           27672 non-null  int64
 4   tourney_level       27672 non-null  object
 5   tourney_date        27672 non-null  object
 6   match_num           27672 non-null  int64
 7   winner_id           27672 non-null  int64
 8   winner_seed         27672 non-null  object
 9   winner_entry        27672 non-null  object
 10  winner_name         27672 non-null  object
 11  winner_hand         27672 non-null  object
 12  winner_ht           27672 non-null  object
 13  winner_ioc          27672 non-null  object
 14  winner_age          27672 non-null  object
 15  loser_id            27672 non-null  int64
 16  loser_seed          27672 non-null  object
 17  loser_entry         27672 non-null  object
 18  loser_name          27672 non-null  object
 19  loser_hand          27672 non-null  object
 20  loser_ht            27672 non-null  object
 21  loser_ioc           27672 non-null  object
 22  loser_age           27672 non-null  object
 23  score               27672 non-null  object
 24  best_of             27672 non-null  int64
 25  round               27672 non-null  object
 26  minutes             27672 non-null  object
 27  w_ace               27672 non-null  object
 28  w_df                27672 non-null  object
 29  w_svpt              27672 non-null  object
 30  w_1stIn             27672 non-null  object
 31  w_1stWon            27672 non-null  object
 32  w_2ndWon            27672 non-null  object
 33  w_SvGms             27672 non-null  object
 34  w_bpSaved           27672 non-null  object
 35  w_bpFaced           27672 non-null  object
 36  l_ace               27672 non-null  object
 37  l_df                27672 non-null  object
 38  l_svpt              27672 non-null  object
 39  l_1stIn             27672 non-null  object
 40  l_1stWon            27672 non-null  object
 41  l_2ndWon            27672 non-null  object
 42  l_SvGms             27672 non-null  object
 43  l_bpSaved           27672 non-null  object
 44  l_bpFaced           27672 non-null  object
 45  winner_rank         27672 non-null  object
 46  winner_rank_points  27672 non-null  object
 47  loser_rank          27672 non-null  object
 48  loser_rank_points   27672 non-null  object
dtypes: int64(5), object(44)
memory usage: 10.3+ MB

### Count of Duplicates

There are 0 duplicate rows

### Count of Missing Values

tourney_id            0
tourney_name          0
surface               0
draw_size             0
tourney_level         0
tourney_date          0
match_num             0
winner_id             0
winner_seed           0
winner_entry          0
winner_name           0
winner_hand           0
winner_ht             0
winner_ioc            0
winner_age            0
loser_id              0
loser_seed            0
loser_entry           0
loser_name            0
loser_hand            0
loser_ht              0
loser_ioc             0
loser_age             0
score                 0
best_of               0
round                 0
minutes               0
w_ace                 0
w_df                  0
w_svpt                0
w_1stIn               0
w_1stWon              0
w_2ndWon              0
w_SvGms               0
w_bpSaved             0
w_bpFaced             0
l_ace                 0
l_df                  0
l_svpt                0
l_1stIn               0
l_1stWon              0
l_2ndWon              0
l_SvGms               0
l_bpSaved             0
l_bpFaced             0
winner_rank           0
winner_rank_points    0
loser_rank            0
loser_rank_points     0
dtype: int64

### Count of Unique Values

tourney_id            1310
tourney_name           765
surface                  5
draw_size               14
tourney_level            6
tourney_date           457
match_num              553
winner_id              823
winner_seed             34
winner_entry            11
winner_name            823
winner_hand              3
winner_ht               28
winner_ioc              92
winner_age             255
loser_id              1122
loser_seed              34
loser_entry             12
loser_name            1120
loser_hand               4
loser_ht                26
loser_ioc               98
loser_age              267
score                 6224
best_of                  2
round                    9
minutes                311
w_ace                   57
w_df                    24
w_svpt                 222
w_1stIn                150
w_1stWon               117
w_2ndWon                56
w_SvGms                 40
w_bpSaved               25
w_bpFaced               31
l_ace                   55
l_df                    27
l_svpt                 225
l_1stIn                154
l_1stWon               115
l_2ndWon                57
l_SvGms                 41
l_bpSaved               28
l_bpFaced               35
winner_rank            771
winner_rank_points    2816
loser_rank             999
loser_rank_points     2851
dtype: int64

### Descriptive Statistics

          draw_size     match_num      winner_id       loser_id       best_of
count  27672.000000  27672.000000   27672.000000   27672.000000  27672.000000
mean      59.393394    226.278476  123338.528766  123226.734316      3.405175
std       42.931735    141.958519   33984.060970   33791.181280      0.803870
min        2.000000      1.000000  100644.000000  100644.000000      3.000000
25%       32.000000    161.000000  104926.000000  105077.000000      3.000000
50%       32.000000    274.000000  105936.000000  106000.000000      3.000000
75%      128.000000    289.000000  126203.000000  126149.000000      3.000000
max      128.000000   1701.000000  212721.000000  212970.000000      5.000000

Change data types to appropriate values

In [5]:
cols_to_int = [
    'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
    'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
    'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
    'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
    'winner_ht', 'loser_ht'
]

df[cols_to_int] = df[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [6]:
cols_to_float= [
    'winner_age', 'loser_age'
]

df[cols_to_float] = df[cols_to_float].apply(pd.to_numeric, errors='coerce').astype('Float64')

In [7]:
cols_to_category = [
    'surface', 'tourney_level', 'winner_entry', 'loser_entry', 'winner_hand', 'loser_hand'
]

df[cols_to_category] = df[cols_to_category].astype('category')
df.dtypes

tourney_id              object
tourney_name            object
surface               category
draw_size                int64
tourney_level         category
tourney_date            object
match_num                int64
winner_id                int64
winner_seed             object
winner_entry          category
winner_name             object
winner_hand           category
winner_ht                Int64
winner_ioc              object
winner_age             Float64
loser_id                 int64
loser_seed              object
loser_entry           category
loser_name              object
loser_hand            category
loser_ht                 Int64
loser_ioc               object
loser_age              Float64
score                   object
best_of                  int64
round                   object
minutes                  Int64
w_ace                    Int64
w_df                     Int64
w_svpt                   Int64
w_1stIn                  Int64
w_1stWon                 Int64
w_2ndWon                 Int64
w_SvGms                  Int64
w_bpSaved                Int64
w_bpFaced                Int64
l_ace                    Int64
l_df                     Int64
l_svpt                   Int64
l_1stIn                  Int64
l_1stWon                 Int64
l_2ndWon                 Int64
l_SvGms                  Int64
l_bpSaved                Int64
l_bpFaced                Int64
winner_rank              Int64
winner_rank_points       Int64
loser_rank               Int64
loser_rank_points        Int64
dtype: object

In [8]:
df.loc[df['tourney_name'].str.contains('Olympics'), 'tourney_level'] = 'O'

In [9]:
df['match_id'] = df['tourney_id'].astype(str) + '_' + df['match_num'].astype(str)

In [10]:
df['tourney_date'] = df['tourney_date'].astype(str).str.replace(',', '')

In [11]:
df['tourney_date'] = pd.to_datetime(df['tourney_date'], format = '%Y%m%d')
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,match_id
0,2015-339,Brisbane,Hard,28,A,2015-01-04,1,105357,,WC,...,20,5,8,1,5,153,328,220,221,2015-339_1
1,2015-339,Brisbane,Hard,28,A,2015-01-04,2,103813,,,...,26,19,13,3,8,73,689,123,440,2015-339_2
2,2015-339,Brisbane,Hard,28,A,2015-01-04,3,105902,,WC,...,22,5,8,10,15,125,430,21,1730,2015-339_3
3,2015-339,Brisbane,Hard,28,A,2015-01-04,4,104871,,,...,30,8,10,1,3,31,1195,72,691,2015-339_4
4,2015-339,Brisbane,Hard,28,A,2015-01-04,5,105373,,,...,40,19,15,4,8,34,1094,110,505,2015-339_5

In [12]:
df['tourney_name'] = df['tourney_name'].replace({'Us Open': 'US Open'})

In [13]:
df['year'] = df['tourney_date'].dt.year
df['month'] = df['tourney_date'].dt.month
df.sample(10)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,match_id,year,month
6289,2017-0375,Montpellier,Hard,32,A,2017-02-06,289,104871,,,...,13,2,5,68,705,105,568,2017-0375_289,2017,2
12045,2019-0506,Buenos Aires,Clay,32,A,2019-02-11,294,105550,,,...,16,10,17,50,930,77,707,2019-0506_294,2019,2
395,2015-407,Rotterdam,Hard,32,A,2015-02-09,22,104527,4,,...,15,4,8,8,4050,27,1360,2015-407_22,2015,2
25372,2024-0403,Miami Masters,Hard,128,M,2024-03-18,250,205734,,Q,...,9,3,5,76,768,13,2935,2024-0403_250,2024,3
27661,2024-M-DC-2024-WG2-PO-TOG-INA-01,Davis Cup WG2 PO: TOG vs INA,Hard,4,D,2024-02-03,5,104470,,,...,8,3,7,<NA>,<NA>,<NA>,<NA>,2024-M-DC-2024-WG2-PO-TOG-INA-01_5,2024,2
15540,2020-520,Roland Garros,Clay,128,G,2020-09-28,1315,200624,,Q,...,13,10,16,213,252,105,610,2020-520_1315,2020,9
18903,2022-580,Australian Open,Hard,128,G,2022-01-17,148,126094,5,,...,12,3,10,6,4785,65,957,2022-580_148,2022,1
14272,2019-0352,Paris Masters,Hard,64,M,2019-10-28,267,106378,,,...,9,4,7,75,710,70,809,2019-0352_267,2019,10
4014,2016-0425,Barcelona,Clay,64,A,2016-04-18,293,104745,1,,...,8,2,7,5,5595,104,552,2016-0425_293,2016,4
22176,2023-0807,Acapulco,Hard,32,A,2023-02-27,272,202235,,Q,...,13,3,5,842,19,78,656,2023-0807_272,2023,2

## Check again for missing data after changing data types

Removed walkovers and Davis Cup matches

In [14]:
df[(df['tourney_level'] != 'D') & (df['score'] != 'W/O')].isna().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed              0
winner_entry             0
winner_name              0
winner_hand              0
winner_ht                2
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed               0
loser_entry              0
loser_name               0
loser_hand               0
loser_ht                34
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes               1737
w_ace                  118
w_df                   118
w_svpt                 118
w_1stIn                118
w_1stWon               118
w_2ndWon               118
w_SvGms                119
w_bpSaved              118
w_bpFaced              118
l_ace                  118
l_df                   118
l_svpt                 118
l_1stIn                118
l_1stWon               118
l_2ndWon               118
l_SvGms                119
l_bpSaved              118
l_bpFaced              118
winner_rank             13
winner_rank_points      13
loser_rank              66
loser_rank_points       66
match_id                 0
year                     0
month                    0
dtype: int64

## Export to SQL

In [15]:
con = sqlite3.connect('/Users/julianbombard/Desktop/Data Analytics Course/Capstone/database/ATP_Tour')

df.to_sql('clean_matches', con, index = False, if_exists = 'replace')

con.close()

## Export to CSV

In [16]:
df.to_csv('csvs/cleaned_matches.csv', index = False)

## Exploratory Data Analysis

Build win-loss table including winning percentage

In [17]:
wins = df['winner_name'].value_counts()
wins.head()

winner_name
Novak Djokovic           527
Alexander Zverev         460
Daniil Medvedev          381
Rafael Nadal             378
Roberto Bautista Agut    348
Name: count, dtype: int64

In [18]:
losses = df['loser_name'].value_counts()
losses.head()

loser_name
Adrian Mannarino      265
Albert Ramos          238
Dusan Lajovic         226
Diego Schwartzman     217
Jan Lennard Struff    217
Name: count, dtype: int64

In [19]:
win_loss = pd.DataFrame({
    'Wins': wins,
    'Losses': losses
}).fillna(0)

win_loss.head()

                      Wins  Losses
Abdulhamid Mubarak     0.0     1.0
Abdullah Maqdas        1.0     3.0
Abdulrahman Alawadhi   0.0     1.0
Abedallah Shelbayh     3.0    11.0
Adam Hornby            0.0     3.0

In [20]:
win_loss['Wins'] = win_loss['Wins'].astype(int)
win_loss['Losses'] = win_loss['Losses'].astype(int)

In [21]:
win_loss['Matches_Played'] = win_loss['Wins'] + win_loss['Losses']
win_loss.sort_values(by = 'Matches_Played', ascending = False).head(10)

                       Wins  Losses  Matches_Played
Alexander Zverev        460     192             652
Novak Djokovic          527      83             610
Roberto Bautista Agut   348     213             561
Daniil Medvedev         381     156             537
Grigor Dimitrov         327     198             525
Adrian Mannarino        255     265             520
Andrey Rublev           336     183             519
Stefanos Tsitsipas      347     165             512
Dominic Thiem           321     186             507
David Goffin            294     200             494

In [22]:
win_loss['Win_Pct'] = round(win_loss['Wins'] / win_loss['Matches_Played'], 4) * 100

win_loss[win_loss['Matches_Played'] > 50].sort_values(by = 'Win_Pct', ascending = False).head(20)

                       Wins  Losses  Matches_Played  Win_Pct
Novak Djokovic          527      83             610    86.39
Roger Federer           259      50             309    83.82
Rafael Nadal            378      93             471    80.25
Carlos Alcaraz          209      56             265    78.87
Jannik Sinner           268      85             353    75.92
Juan Martin del Potro   128      50             178    71.91
Daniil Medvedev         381     156             537    70.95
Alexander Zverev        460     192             652    70.55
Andy Murray             261     115             376    69.41
Kei Nishikori           254     120             374    67.91
Stefanos Tsitsipas      347     165             512    67.77
Milos Raonic            211     107             318    66.35
Tomas Berdych           156      82             238    65.55
Matteo Berrettini       189     100             289    65.40
Nick Kyrgios            198     107             305    64.92
Andrey Rublev           336     183             519    64.74
Casper Ruud             256     141             397    64.48
Dominic Thiem           321     186             507    63.31
Holger Rune             143      85             228    62.72
Marin Cilic             285     172             457    62.36

In [23]:
win_loss.index.name = 'player_name'
win_loss = win_loss.reset_index()
win_loss

               player_name  Wins  Losses  Matches_Played  Win_Pct
0       Abdulhamid Mubarak     0       1               1     0.00
1          Abdullah Maqdas     1       3               4    25.00
2     Abdulrahman Alawadhi     0       1               1     0.00
3       Abedallah Shelbayh     3      11              14    21.43
4              Adam Hornby     0       3               3     0.00
...                    ...   ...     ...             ...      ...
1170                Zhe Li     4      11              15    26.67
1171         Zhizhen Zhang    55      59             114    48.25
1172           Zizou Bergs    23      37              60    38.33
1173         Zsombor Piros    10       7              17    58.82
1174       Zura Tkemaladze     1       3               4    25.00

[1175 rows x 5 columns]

Write a function that will print any players win loss record and their win percentage

In [24]:
def get_record(player):
    wins = (df['winner_name'] == player).sum()
    losses = (df['loser_name'] == player).sum()
    matches = wins + losses
    win_pct = (wins / matches) if matches > 0 else 0
    return (f"{player}'s record is {wins}-{losses}. His win percentage is {round(win_pct, 2) * 100}% across {matches} matches.")

get_record('Tommy Paul')

"Tommy Paul's record is 176-124. His win percentage is 59.0% across 300 matches."

Split matches table into indivudal player match stats with a 'won' boolean column

In [25]:
winner_stats = df[[
    'winner_id', 'match_id', 'year', 'month', 'winner_name', 'winner_ioc','winner_ht', 'winner_hand','tourney_name', 'tourney_level', 'surface', 'round','minutes',
    'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
    'w_SvGms', 'w_bpSaved', 'w_bpFaced',
    'winner_rank', 'winner_rank_points'
]].copy()

winner_stats.columns = [
    'player_id', 'match_id', 'year', 'month','player_name', 'country','height', 'hand','tourney_name', 'tourney_level','surface', 'round','minutes',
    'ace', 'df', 'svpt', 'first_in', 'first_won', 'second_won',
    'sv_gms', 'bp_saved', 'bp_faced',
    'rank', 'rank_points'
]

winner_stats['won'] = True

loser_stats = df[[
    'loser_id', 'match_id', 'year', 'month', 'loser_name', 'loser_ioc','loser_ht', 'loser_hand', 'tourney_name','tourney_level','surface', 'round','minutes',
    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon',
    'l_SvGms', 'l_bpSaved', 'l_bpFaced',
    'loser_rank', 'loser_rank_points'
]].copy()

loser_stats.columns = winner_stats.columns[:-1]  
loser_stats['won'] = False

player_match_stats = pd.concat([winner_stats, loser_stats], ignore_index=True)
player_match_stats.dropna(inplace = True)
player_match_stats.sample(15)

,player_id,match_id,year,month,player_name,country,height,hand,tourney_name,tourney_level,...,svpt,first_in,first_won,second_won,sv_gms,bp_saved,bp_faced,rank,rank_points,won
31817,104731,2016-M021_258,2016,5,Kevin Anderson,RSA,203,R,Madrid Masters,M,...,49,30,20,6,8,3,6,19,1840,False
27629,210136,2024-M-DC-2024-WG2-M-UZB-EST-01_1,2024,9,Mark Lajal,EST,191,R,Davis Cup WG2 R1: UZB vs EST,D,...,99,72,56,10,16,1,4,224,260,True
16462,126207,2021-0403_284,2021,3,Frances Tiafoe,USA,188,R,Miami Masters,M,...,87,60,41,16,14,4,6,58,1120,True
21671,106415,2023-2843_287,2023,1,Yoshihito Nishioka,JPN,170,L,Adelaide 1,A,...,72,49,29,17,9,4,4,36,1134,True
19142,200514,2022-0424_277,2022,2,Jurij Rodionov,AUT,191,L,Dallas,A,...,91,58,47,20,15,2,3,153,449,True
3953,106298,2016-0410_279,2016,4,Lucas Pouille,FRA,185,R,Monte Carlo Masters,M,...,97,56,40,25,15,2,3,82,683,True
26523,126207,2024-0418_292,2024,7,Frances Tiafoe,USA,188,R,Washington,A,...,94,54,45,22,16,4,6,29,1405,True
46242,104755,2021-M-DC-2021-FLS-C-M-FRA-CZE-01_1,2021,11,Richard Gasquet,FRA,183,R,Davis Cup Finals RR: FRA vs CZE,D,...,72,52,29,10,10,4,7,86,807,False
15301,200000,2020-560_210,2020,8,Felix Auger Aliassime,CAN,193,R,US Open,G,...,76,49,36,17,12,3,4,21,1806,True
38403,105041,2018-6116_289,2018,7,Lukas Lacko,SVK,185,R,Atlanta,A,...,61,25,18,19,12,1,5,71,771,False
53112,106298,2024-7290_275,2024,4,Lucas Pouille,FRA,185,R,Estoril,A,...,108,51,34,28,14,3,7,241,252,False
4933,105671,2016-0439_284,2016,7,Gastao Elias,POR,180,R,Umag,A,...,64,31,19,21,8,10,11,72,730,True
21860,200670,2023-580_190,2023,1,J J Wolf,USA,183,R,Australian Open,G,...,72,52,44,12,14,0,0,67,758,True
35721,106043,2017-0421_295,2017,8,Diego Schwartzman,ARG,170,R,Canada Masters,M,...,96,60,39,13,14,8,14,36,1180,False
12890,105732,2019-7694_278,2019,5,Pierre Hugues Herbert,FRA,188,R,Lyon,A,...,51,32,27,14,10,2,2,42,1053,True

## Export to SQL

In [26]:
con = sqlite3.connect('/Users/julianbombard/Desktop/Data Analytics Course/Capstone/database/ATP_Tour')

player_match_stats.to_sql('player_match_stats', con, index = False, if_exists = 'replace')

con.close()

## Export to CSV

In [27]:
player_match_stats.to_csv('csvs/player_match_stats.csv', index = False)

Create a player stats table with average stats for players across all matches

In [28]:
player_stats = player_match_stats.groupby(['player_id','player_name', 'height', 'hand']).agg(
    avg_minutes = ('minutes', 'mean'),
    avg_aces = ('ace', 'mean'),
    avg_df = ('df', 'mean'),
    avg_svpt = ('svpt', 'mean'),
    avg_first_in = ('first_in', 'mean'),
    avg_first_won = ('first_won', 'mean'),
    avg_second_won = ('second_won', 'mean'),
    avg_sv_gms = ('sv_gms', 'mean'),
    avg_bp_saved = ('bp_saved', 'mean'),
    avg_bp_faced = ('bp_faced', 'mean'),
).reset_index()

player_stats.sample(10)

,player_id,player_name,height,hand,avg_minutes,avg_aces,avg_df,avg_svpt,avg_first_in,avg_first_won,avg_second_won,avg_sv_gms,avg_bp_saved,avg_bp_faced
355,106283,Mitchell Krueger,188,R,113.419355,5.129032,2.516129,78.16129,48.806452,33.548387,14.709677,12.193548,4.290323,7.16129
757,208502,Dominic Stricker,183,L,111.978723,9.12766,3.021277,81.787234,46.595745,35.93617,17.978723,13.106383,3.340426,5.638298
327,106167,Joris De Loore,191,R,111.333333,9.166667,2.5,84.0,50.833333,38.333333,17.0,13.166667,3.333333,5.833333
155,105147,Tatsuma Ito,180,R,107.095238,3.857143,3.380952,78.904762,47.857143,31.761905,14.571429,12.190476,4.142857,7.904762
579,144760,Amine Ahouda,185,R,84.428571,1.0,4.571429,65.285714,35.285714,23.857143,12.714286,10.142857,2.857143,6.285714
168,105217,Thiemo De Bakker,193,R,113.40625,8.46875,2.0,87.25,51.9375,37.375,15.8125,13.3125,4.96875,8.34375
597,145001,Evan Furness,173,R,151.0,2.0,6.0,138.0,74.0,53.0,28.0,17.0,5.0,10.0
7,103565,Stephane Robert,185,R,96.377358,4.528302,4.849057,78.132075,39.943396,27.641509,17.358491,11.981132,4.90566,8.754717
615,200250,Mehluli Don Ayanda Sibanda,173,R,57.0,2.0,5.0,44.0,22.0,8.0,7.0,6.0,3.0,9.0
321,106120,Ricardo Ojeda Lara,180,R,85.166667,1.166667,0.666667,67.166667,46.0,27.666667,11.166667,9.666667,3.833333,6.666667

In [29]:
player_stats.dtypes

player_id           int64
player_name        object
height              Int64
hand               object
avg_minutes       Float64
avg_aces          Float64
avg_df            Float64
avg_svpt          Float64
avg_first_in      Float64
avg_first_won     Float64
avg_second_won    Float64
avg_sv_gms        Float64
avg_bp_saved      Float64
avg_bp_faced      Float64
dtype: object

In [30]:
player_stats = player_stats.round(2) #round all stats to 2 decimals
player_stats.sample(10)

,player_id,player_name,height,hand,avg_minutes,avg_aces,avg_df,avg_svpt,avg_first_in,avg_first_won,avg_second_won,avg_sv_gms,avg_bp_saved,avg_bp_faced
755,208364,Franco Roncadelli,185,L,116.5,1.0,2.0,80.25,59.0,35.25,10.25,10.25,6.25,9.5
788,209890,Mili Poljicak,185,R,185.5,4.0,3.5,122.5,62.0,42.5,28.0,14.5,11.0,15.5
329,106175,Ricardo Rodriguez,189,R,134.59,2.35,2.0,77.82,51.65,34.71,12.65,12.76,4.29,7.76
314,106085,Hamid Reza Nadaf,183,R,100.0,3.0,5.0,68.0,44.0,21.0,12.0,7.0,9.0,13.0
191,105385,Donald Young,183,L,95.66,3.76,4.06,76.12,44.67,30.73,15.84,11.77,4.32,7.31
445,117352,Oliver Anderson,175,R,67.0,3.0,1.0,52.0,30.0,22.0,9.0,8.0,3.0,6.0
787,209874,Maks Kasnikowski,180,R,173.0,7.5,3.5,116.0,69.5,44.0,22.5,16.0,7.0,11.5
515,126340,Viktor Durasovic,185,R,91.75,5.2,3.2,73.0,43.55,30.05,13.15,10.9,4.35,7.6
295,106005,Constant Lestienne,180,R,111.21,4.14,3.3,79.33,48.54,32.04,13.54,11.88,4.96,8.89
578,144751,Rigele Te,188,R,122.0,4.5,3.0,79.0,42.0,27.5,19.5,11.0,7.0,10.5

Add win-loss statistics to player stats table to get overall player summary

In [31]:
player_table = player_stats.merge(win_loss, on = 'player_name', how = 'left')
player_table.sample(10)

,player_id,player_name,height,hand,avg_minutes,avg_aces,avg_df,avg_svpt,avg_first_in,avg_first_won,avg_second_won,avg_sv_gms,avg_bp_saved,avg_bp_faced,Wins,Losses,Matches_Played,Win_Pct
512,126237,Gian Marco Moroni,185,R,97.75,2.75,3.25,67.75,45.0,30.0,11.5,10.75,3.75,6.25,1,3,4,25.00
87,104665,Pablo Andujar,180,R,114.88,1.59,3.27,78.95,51.37,33.26,13.07,11.95,4.51,8.05,65,102,167,38.92
672,202235,Jacopo Berrettini,193,R,88.5,1.5,4.0,55.5,33.5,22.0,8.0,8.5,2.0,5.5,1,1,2,50.00
79,104597,Nicolas Almagro,183,R,106.1,8.64,3.11,78.8,43.65,32.57,18.13,12.47,3.27,5.66,50,55,105,47.62
1,102093,Martin Damm,203,L,107.0,14.0,2.0,66.33,43.0,33.0,12.67,10.33,2.0,3.33,2,1,3,66.67
598,200000,Felix Auger Aliassime,193,R,120.8,9.18,4.17,77.35,49.03,37.07,14.14,12.38,3.58,5.64,216,148,364,59.34
360,106296,Gregoire Barrere,183,R,110.72,5.05,2.51,85.59,53.35,36.84,16.26,13.13,4.48,7.61,38,63,101,37.62
154,105138,Roberto Bautista Agut,183,R,115.56,3.3,1.9,78.95,51.8,36.38,14.69,12.6,3.88,6.3,348,213,561,62.03
270,105877,Emilio Gomez,185,R,114.44,3.68,2.68,81.44,50.21,34.76,14.0,12.24,4.65,8.24,17,26,43,39.53
730,208021,Kyrian Jacquet,178,R,105.0,1.0,2.0,89.0,60.0,32.0,14.0,14.0,10.0,16.0,0,1,1,0.00

Add titles won

In [32]:
titles = player_match_stats[(player_match_stats['round'] == 'F') & (player_match_stats['won'] == True)]
titles_won = titles.groupby('player_name').size().reset_index(name = 'titles_won')
titles_won.sort_values(by= 'titles_won', ascending = False)

               player_name  titles_won
99          Novak Djokovic          51
110           Rafael Nadal          28
5         Alexander Zverev          23
115          Roger Federer          21
25         Daniil Medvedev          20
..                     ...         ...
77          Leonardo Mayer           1
71          Juncheng Shang           1
68   Juan Manuel Cerundolo           1
67    Juan Ignacio Londero           1
139          Yuichi Sugita           1

[140 rows x 2 columns]

In [33]:
player_table = player_table.merge(titles_won, on = 'player_name', how = 'left')
player_table.sort_values(by = 'titles_won', ascending = False)

,player_id,player_name,height,hand,avg_minutes,avg_aces,avg_df,avg_svpt,avg_first_in,avg_first_won,avg_second_won,avg_sv_gms,avg_bp_saved,avg_bp_faced,Wins,Losses,Matches_Played,Win_Pct,titles_won
118,104925,Novak Djokovic,188,R,122.19,5.84,2.44,78.53,51.11,38.5,15.36,12.9,3.21,4.84,527,83,610,86.39,51.0
95,104745,Rafael Nadal,185,L,125.32,3.57,2.07,75.42,50.14,36.37,14.46,12.39,3.39,5.18,378,93,471,80.25,28.0
0,100644,Alexander Zverev,198,R,117.14,8.7,3.7,79.1,52.94,39.68,13.21,12.86,3.37,5.4,460,192,652,70.55,23.0
16,103819,Roger Federer,185,R,104.85,8.67,1.69,78.59,49.74,39.08,16.77,13.26,2.7,3.98,259,50,309,83.82,21.0
387,106421,Daniil Medvedev,198,R,109.11,7.98,3.69,76.87,47.18,35.55,15.21,12.27,3.51,5.52,381,156,537,70.95,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,211902,Henry Searle,193,L,107.0,8.5,4.5,88.0,51.5,36.5,16.0,13.5,6.0,9.5,0,2,2,0.00,NaN
831,212021,Martin Landaluce,191,R,111.0,3.33,3.67,69.83,41.0,27.17,13.17,11.17,3.33,7.17,1,6,7,14.29,NaN
832,212044,Yi Zhou,193,R,104.5,5.1,2.1,69.3,40.5,28.2,15.1,11.4,3.4,6.5,4,7,11,36.36,NaN
833,212063,Matej Dodig,188,R,109.5,3.0,5.0,83.5,53.0,37.5,13.5,11.0,8.0,9.5,2,1,3,66.67,NaN
834,212082,Joel Schwaerzler,188,L,91.5,3.0,1.0,57.0,35.5,20.5,11.0,9.0,2.5,5.5,0,2,2,0.00,NaN

In [34]:
player_table['titles_won'] = player_table['titles_won'].astype('Int64') #convert titles won from float to int
player_table.sort_values(by = 'titles_won', ascending = False).head(20)

,player_id,player_name,height,hand,avg_minutes,avg_aces,avg_df,avg_svpt,avg_first_in,avg_first_won,avg_second_won,avg_sv_gms,avg_bp_saved,avg_bp_faced,Wins,Losses,Matches_Played,Win_Pct,titles_won
118,104925,Novak Djokovic,188,R,122.19,5.84,2.44,78.53,51.11,38.5,15.36,12.9,3.21,4.84,527,83,610,86.39,51
95,104745,Rafael Nadal,185,L,125.32,3.57,2.07,75.42,50.14,36.37,14.46,12.39,3.39,5.18,378,93,471,80.25,28
0,100644,Alexander Zverev,198,R,117.14,8.7,3.7,79.1,52.94,39.68,13.21,12.86,3.37,5.4,460,192,652,70.55,23
16,103819,Roger Federer,185,R,104.85,8.67,1.69,78.59,49.74,39.08,16.77,13.26,2.7,3.98,259,50,309,83.82,21
387,106421,Daniil Medvedev,198,R,109.11,7.98,3.69,76.87,47.18,35.55,15.21,12.27,3.51,5.52,381,156,537,70.95,20
683,206173,Jannik Sinner,191,R,118.91,5.76,2.04,77.45,46.48,34.7,16.99,12.44,3.7,5.57,268,85,353,75.92,18
489,126094,Andrey Rublev,188,R,107.18,7.06,2.55,78.1,47.49,35.72,15.61,12.5,3.68,5.82,336,183,519,64.74,17
725,207989,Carlos Alcaraz,183,R,122.05,3.98,2.26,76.8,49.96,35.8,14.97,12.37,3.58,5.61,209,56,265,78.87,16
346,106233,Dominic Thiem,185,R,115.57,5.8,2.82,79.74,48.78,35.9,16.48,12.72,3.7,5.88,321,186,507,63.31,15
116,104918,Andy Murray,191,R,132.46,6.6,2.65,83.16,49.56,36.64,17.35,13.16,3.74,6.16,261,115,376,69.41,13
534,126774,Stefanos Tsitsipas,193,R,114.69,7.17,2.31,79.59,49.43,37.7,16.49,12.92,3.28,5.03,347,165,512,67.77,12
564,134770,Casper Ruud,183,R,111.98,5.07,2.26,76.08,49.27,35.61,14.52,12.2,3.46,5.47,256,141,397,64.48,12
154,105138,Roberto Bautista Agut,183,R,115.56,3.3,1.9,78.95,51.8,36.38,14.69,12.6,3.88,6.3,348,213,561,62.03,11
525,126610,Matteo Berrettini,196,R,119.72,9.96,1.89,80.89,51.59,40.31,15.51,13.2,3.44,5.0,189,100,289,65.40,10
505,126203,Taylor Fritz,196,R,109.55,9.64,2.4,80.88,48.37,36.97,16.99,12.96,3.6,5.65,285,191,476,59.87,9
625,200282,Alex De Minaur,183,R,115.26,3.85,2.53,77.74,45.81,32.52,16.96,12.17,3.87,6.38,254,156,410,61.95,9
67,104527,Stan Wawrinka,183,R,118.31,7.89,2.18,86.45,50.16,37.7,19.78,13.69,4.21,6.32,240,151,391,61.38,8
546,128034,Hubert Hurkacz,196,R,117.39,11.45,2.33,84.95,53.71,41.0,16.22,13.54,3.64,5.57,211,139,350,60.29,8
259,105807,Pablo Carreno Busta,188,R,110.82,4.13,1.83,79.42,52.37,36.47,14.33,12.45,4.2,6.67,257,188,445,57.75,7
382,106401,Nick Kyrgios,193,R,103.77,15.48,3.39,82.04,54.38,42.43,14.9,13.42,2.94,4.34,198,107,305,64.92,7

## Export to SQL

In [35]:
con = sqlite3.connect('/Users/julianbombard/Desktop/Data Analytics Course/Capstone/database/ATP_Tour')

player_table.to_sql('players', con, index = False, if_exists = 'replace')

con.close()

## Export to CSV

In [36]:
player_table.to_csv('csvs/players.csv', index = False)